/*-------------------------------

    Custom stylesheet (custom.css)

    Project: Eight Template
    Version: 1.0
    Author: By Themanoid
    Last change: 31 July 2016

    --

    This stylesheet is meant for
    your own custom styles, on
    top of The Eight Template

    Happy styling!
    - Themanoid

----------------------------*/


/*
Comment out vertical lines
*/

.l1:before,
.l1:after,
.l2:before,
.l2:after,
.l3:before,
.l3:after {
  border-left: none;
}